.shop-products{

  &__list{

  }

  &__item{
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;

    &:after{
      content: "";
      width: 90%;
      height: 1px;
      background: $color-dark-opac;
      position: absolute;
      bottom: 5px;
      left: 0;
    }
  }

  &__name{
    font-family:  Lato, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.2;
    text-align: left;
  }

  &__price{
    display: inline-block;
    font-family:  Lato, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.2;
    text-align: left;
  }

  &__btn-add{
    position: absolute;
    left: 90px;
    top: 50%;
  }

}